a {
    text-decoration: none;
}

.navbar {
    /*position: fixed;*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar-menu {
    flex-direction: row;
    margin-right: auto !important;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.navbar-item {
    /*list-style: none;*/
}

.navbar-link {
    color: rgba(0, 0, 0, .5);
    padding: .5rem 1rem;
}

.navbar-link:hover {
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}

.control {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #007bff;
    border-color: #007bff;
}

#inner-content {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40em;
}

.listing {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    width: 20%;
    height: 30em;
    overflow: scroll;
}

.listing-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 80%;
    color: #495057;
    text-align: inherit;
}

.listing-item-active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.listing-controls {
    width: 100%;
    padding: 1em 0;
}

.setbrowser-container{
    width: 70%;
}

.setbrowser {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30em;
    overflow: scroll;
    width: 100%;
}

.setbrowser-card {
    width: 14rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e9ecef;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: 45%
}

.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-icon{
    width: 100%;
    height: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-title{
    margin-bottom: .75rem;
    font-size: 1.25rem;
}