<div id="new-base-set-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="new-base-set-close">&times;</span>
        <form id="new-base-set-form">
            <input class="input" type="text" name="base-set-name" placeholder="Name" required>
            <button class="button" type="button" id="new-base-set-button">anlegen</button>
        </form>
    </div>
</div>
<div class="listing">
    <div class="listing-controls">
        <button class="button listing-control" type="button" id="new-base-set">neue Sammlung</button>
        <button class="button listing-control" type="button" id="edit-base-set">editieren</button>
        <button class="button listing-control" type="button" id="delete-base-set">löschen</button>
    </div>
    {{ range .Sets }}
        <a class="listing-item base-listing-item" id="{{.Id.Hex}}">{{.Name}}</a>
    {{end}}
</div>
<div class="setbrowser-container"></div>