<script>
    window.addEventListener("load", function () {
        setupNavModals();
        setupNavHandlers();
        // let xhr = new XMLHttpRequest();
        // document.getElementById("login-button").addEventListener("click", function () {
        //     xhr.open("POST", 'http://localhost:4242/login');
        //     let formdata = new FormData(document.getElementById("login-form"));
        //     xhr.send(formdata);
        // });
        // document.getElementById("register-button").addEventListener("click", function () {
        //     xhr.open("POST", 'http://localhost:4242/register');
        //     let formdata = new FormData(document.getElementById("register-form"));
        //     xhr.send(formdata);
        // });


        // xhr.addEventListener("load", function () {
        //     let response = JSON.parse(xhr.responseText);
        //     console.log(response);
        //     // if (response.success){
        //     //     window.location.reload(true);
        //     // }else {
        //     let modals = document.getElementsByClassName("modal");
        //     for(let i = 0; i < modals.length; i++)
        //     {
        //         modals[i].style.display = "none";
        //     }
        //     document.getElementById("message-text").innerText = response.Message;
        //     document.getElementById("message-modal").style.display = "block";
        //     // }
        //     if (response.Success && response.Path === "login"){
        //         console.log("login success: reload");
        //         window.location.reload();
        //     }
        // });

    });

</script>
</body>
</html>