<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/script.js"></script>
    <title>PICX</title>
    <meta charset="utf-8">
</head>
<body>
<nav class="navbar">
    <a class="navlogo" href="#">
        <img src="assets/logo.png">
    </a>
    <div>
        <ul class="navbar-menu">
            {{ range .Pages }}
                {{if .Display }}
                    <li class="navbar-item">
                        <a class="navbar-link {{if isset "Url" .}}{{if eq .Url ""}}control{{end}}{{end}}" {{if isset "Url" .}}{{if ne .Url ""}}href="{{.Url}}"{{end}}{{end}}
                           id="{{.HtmlId}}">{{.Title}}</a>
                    </li>
                    {{if isset "CustomContent" .}}
                        {{noescape .CustomContent}}
                    {{end}}
                {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
<div id="message-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="message-close">&times;</span>
        <span id="message-text"></span>
    </div>
</div>
<div id="register-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="register-close">&times;</span>
        <form id="register-form">
            <input class="input" type="text" name="username" placeholder="Benutzer" required>
            <input class="input" type="password" name="password" placeholder="Passwort" required minlength="3">
            <button class="button" type="button" id="register-button">registrieren</button>
        </form>
    </div>
</div>
<div id="login-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="login-close">&times;</span>
        <form id="login-form">
            <input class="input" type="text" name="username" placeholder="Benutzer" required>
            <input class="input" type="password" name="password" placeholder="Passwort" required minlength="3">
            <button class="button" type="button" id="login-button">login</button>
        </form>
    </div>
</div>
</body>
<script>
    window.addEventListener("load", function () {
        setupModals();
        let xhr = new XMLHttpRequest();
        document.getElementById("login-button").addEventListener("click", function () {
            xhr.open("POST", 'http://localhost:4242/login');
            let formdata = new FormData(document.getElementById("login-form"));
            xhr.send(formdata);
        });
        document.getElementById("register-button").addEventListener("click", function () {
            xhr.open("POST", 'http://localhost:4242/register');
            let formdata = new FormData(document.getElementById("register-form"));
            xhr.send(formdata);
        });

        xhr.addEventListener("load", function () {
            let response = JSON.parse(xhr.responseText);
            console.log(response);
            // if (response.success){
            //     window.location.reload(true);
            // }else {
            let modals = document.getElementsByClassName("modal");
            for(let i = 0; i < modals.length; i++)
            {
                modals[i].style.display = "none";
            }
            document.getElementById("message-text").innerText = response.Message;
            document.getElementById("message-modal").style.display = "block";
            // }
            if (response.Success && response.Path === "login"){
                console.log("login success: reload");
                window.location.reload();
            }
        });

    });

</script>
</html>